---
import NavBar from '@/components/NavBar.vue'
---

<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="/logo.png" />
    <title>Energy, Climate, Weather - Manila Observatory</title>
  </head>
  <body>
    <div
      class="max-w-screen-2xl mx-auto flex flex-col w-full h-screen select-none"
    >
      <NavBar client:load />
      <div class="w-full flex flex-col p-4 md:p-6 bg-gray-700 text-gray-200">
        <slot />
      </div>
    </div>
  </body>
</html>
